@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: "#204D389";
}
@layer utilities{
    .text-primary{
      color: #04D389
    }
    .bg-primary{
      background-color: #04D389
    }
}

.btn-color{
  background: #04D389;
}
.scroll-gradient {
    background: linear-gradient( #04D389); 
}
.email-vertical {
    writing-mode: sideways-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}